.in {
	margin: 0;
	display: inline;
}

form.add-profile {
	background-color: #ccc;
	height: 700px;
	position: relative;
	margin: auto;
	margin-top: 50px;
	position: relative;
	background-color: #fefefe;
	box-shadow: 0px 0px 8px 2px #ccc;
}

/****************************
*****  Dog Info Heading *****
*****************************/
form.add-profile .dog-info {
	position: absolute;
	top: 2%;
	right: 46%;

}

// DOG NAME AND LABEL
form.add-profile .dog-name {
	width: 200px;
	height: 20px;
	position: absolute;
	top: 10%;
	right: 43%;
}

form.add-profile .dog-name-label {
	position: absolute;
	top: 10%;
	right: 70%;
	font-size: 20px;
}

// Breed input and label
form.add-profile .breed {
	position: absolute;
	top: 20%;
	right: 43%;
	width: 200px;
	height: 20px;
}

form.add-profile .breed-label {
	position: absolute;
	top: 20%;
	right: 70%;
	font-size: 20px;
}

// Gender radio and label
form.add-profile .gender-radio-m {
	position: absolute;
	top: 30%;
	right: 50%;
}

form.add-profile .gender-radio-f {
	position: absolute;
	top: 35%;
	right: 50%;
}

form.add-profile .gender {
	position: absolute;
	top: 27%;
	right: 70%;
	font-size: 20px;
}

form.add-profile .gender-m-lab {
	position: absolute;
	top: 30%;
	right: 55%;
}

form.add-profile .gender-f-lab {
	position: absolute;
	top: 35%;
	right: 55%;
}

// Date and label
form.add-profile .date {
	position: absolute;
	top: 43%;
	right: 43%;
	width: 200px;
	height: 20px;
}

form.add-profile .date-label {
	position: absolute;
	top: 43%;
	right: 70%;
	font-size: 20px;
}

// CONTACT AND LABEL
form.add-profile .contact {
	position: absolute;
	top: 52%;
	right: 43%;
	width: 200px;
	height: 20px;
}

form.add-profile .contact-label {
	position: absolute;
	top: 52%;
	right: 70%;
	font-size: 20px;
}

// NUMBER AND LABEL
form.add-profile .number {
	position: absolute;
	top: 61%;
	right: 43%;
	width: 200px;
	height: 20px;
}

form.add-profile .number-label {
	position: absolute;
	top: 61%;
	right: 70%;
	font-size: 20px;
}

// Description and label
form.add-profile .description {
	position: absolute;
	top: 73%;
	right: 40%;
	width: 200px;
	height: 20px;
}

form.add-profile .description-label {
	position: absolute;
	top: 70%;
	right: 70%;	
	font-size: 20px;
}
 
// Submit Button
form.add-profile button.submit {
	position: absolute;
	top: 93%;
	right: 43%;
	width: 200px;
}










