/******************************
****** 	OWNER INFO   **********
******************************/
.in {
	display: inline;
}

form.register {
	margin: auto;
	margin-top: 50px;
	height: 350px;
	position: relative;
	background-color: #fefefe;
	box-shadow: 0px 0px 8px 2px #ccc;
}

form.register .create-new {
	position: absolute;
	top: 0;
	right: 40%;
}

// Name and label
form.register .name {
	position: absolute;
	top: 20%;
	right: 42%;
	width: 200px;
	height: 20px;
}

form.register .name-label {
	position: absolute;
	top: 20%;
	right: 70%;
	font-size: 20px;
}

// Email and label
form.register .email {
	position: absolute;
	top: 40%;
	right: 42%;
	width: 200px;
	height: 20px;
}

form.register .email-label {
	position: absolute;
	top: 40%;
	right: 70%;
	font-size: 20px;
}

// Password and label
form.register .password {
	position: absolute;
	top: 60%;
	right: 42%;
	width: 200px;
	height: 20px;
}

form.register .pass-label {
	position: absolute;
	top: 60%;
	right: 70%;
	font-size: 20px;
}

form.register .submit {
	position: absolute;
	top: 80%;
	right: 46%;
}