<h1 class="home-msg">MISSING FRIENDS</h1>

	<div class="dog-contain">
		<div class="graphic">
			<img src="/uploaded_images/1.png" width="150px" height="150px">
		</div>
		<div class="dog-info">
			DOG NAME: Fido<br>
			BREED: Retriever<br>
		    GENDER: Male<br>
		    LOST ON: 11/10/2015<br>
		    CONTACT NAME: Mark<br>
			CONTACT NUMBER: (561)567-8999<br>
		</div>
		<div class="dog-description">
			<p>DESCRIPTION: Fido loves chasing cars and barking at strangers 
				who look suspicious. He also loves playing fetch.</p>
		</div>
	</div>	
	<div class="dog-contain">
		<div class="graphic">
			<img src="/uploaded_images/2.png" width="150px" height="150px">
		</div>
		<div class="dog-info">
			DOG NAME: Poochy<br>
			BREED: Golden Retriever<br>
		    GENDER: Male<br>
		    LOST ON: 10/18/2015<br>
		    CONTACT NAME: Susie Jameson<br>
			CONTACT NUMBER: (310)555-1467<br>
		</div>
		<div class="dog-description">
			<p>DESCRIPTION: Poochy is a little pup that loves cuddling up with me while I watch tv. I miss him so much
			   Please, if you see him, call me. My kids also miss him and are always asking for him. I'm prepared to offer
			   monetary compensation if you can help me find him!.</p>
		</div>
	</div>	
	<div class="dog-contain">
		<div class="graphic">
			<img src="/uploaded_images/3.png" width="150px" height="150px">
		</div>
		<div class="dog-info">
			DOG NAME: Precious<br>
			BREED: Jack Terrier Mix<br>
		    GENDER: Female<br>
		    LOST ON: 10/25/2015<br>
		    CONTACT NAME: Rick Jones<br>
			CONTACT NUMBER: (686)435-1285<br>
		</div>
		<div class="dog-description">
			<p>DESCRIPTION: Precious is just as her name describes, she loves to play and give her owners love. 
			   Please call me If you see her.</p>
		</div>
	</div>
<div class="dog-list"></div>


