<form action="/auth/login" method="POST" class="login">
<h1 class="login-head">LOGIN</h1>
	<div class='fail'>sorry login failed</div>
	<p class="email-label in">EMAIL:</p> <input type="text" name="email" class="email"><br>
	<p class="pass-label in">PASSWORD:</p> <input type="password" name="password" class="password"><br>
	<button class="login">Login</button>
</form>
