<form action="/api/owner" method="POST" class="register">	
<h1 class="create-new in">Create New User</h1>
	<p class="name-label in">NAME:</p> <input type="text" name="name" class="name"><br>
	<p class="email-label in">EMAIL:</p> <input type="text" name="email" class="email"><br>
	<p class="pass-label in">PASSWORD:</p> <input type="password" name="password" class="password"><br>
	<button class="submit">Create New Account</button>
</form>